---
// @ts-nocheck
// MARK: JavaScript  (Server-side)
const response = await fetch("https://api.le-systeme-solaire.net/rest/bodies/", {
  headers: {
    Authorization: `Bearer ${import.meta.env.SOLAR_API_KEY}`,
  },
});

const data = await response.json();

const planets = data.bodies
  .filter((body) => body.isPlanet)
  .map((planet) => ({
    name: planet.englishName,
    radius: planet.meanRadius,
    distance: planet.semimajorAxis,
	orbitTime: planet.sideralOrbit,
  }))
  .sort((a, b) => a.distance - b.distance);

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="icon" href="/favicon.png" />
		<link rel="stylesheet" href="/styles/styles.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Our Solar System</title>
	</head>
	<body>
		<canvas id="solar-system"></canvas>



		<!-- <h1 id="counter">0</h1>
		<button id="add">+1</button> -->
		<!-- MARK: JavaScript (Client-side)  -->
		 <!-- 
		Makkelijke manier om server-side variabelen beschikbaar
		  te maken in client-side script
		   -->
		<script define:vars={{ planets }}>
			window.planets = planets;
		</script>
		<script type="module" src="/src/scripts/canvas.js"></script>
		<script src="/src/scripts/localstorage.js"></script>
	</body>
</html>
