---
// @ts-nocheck
import "../styles/index.css";

const response = await fetch("https://api.le-systeme-solaire.net/rest/bodies/", {
  headers: {
    Authorization: `Bearer ${import.meta.env.SOLAR_API_KEY}`,
  },
});

const data = await response.json();

const textureMap = {
  Mercury: "/images/planets/mercury.png",
  Venus: "/images/planets/venus.png",
  Earth: "/images/planets/earth.png",
  Mars: "/images/planets/mars.png",
  Jupiter: "/images/planets/jupiter.png",
  Saturn: "/images/planets/saturn.png",
  Uranus: "/images/planets/uranus.png",
  Neptune: "/images/planets/neptune.png",
};

const planets = data.bodies
  .filter((body) => body.isPlanet)
  .map((planet) => ({
    name: planet.englishName,
    slug: planet.englishName.toLowerCase(),
    radius: planet.meanRadius,
    distance: planet.semimajorAxis,
    orbitTime: planet.sideralOrbit,
    texture: textureMap[planet.englishName],
  }))
  .sort((a, b) => a.distance - b.distance);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Our Solar System</title>
  </head>
  <body>
    <div class="controls">
      <label>
        Speed:
        <input type="range" id="speed-slider" min="0" max="50" value="10" />
      </label>
    </div>
    <canvas id="solar-system"></canvas>

    <script define:vars={{ planets }}>
      window.planets = planets;
    </script>

<script define:vars={{ planets }}>
  window.planets = planets;
</script>

<script type="module" src="/canvas.js"></script>
<script type="module" src="/localstorage.js"></script>
  </body>
</html>